/* 

FONTS

*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@1,900&display=swap');

/* 

MAIN CODE

*/

* {
    background-color: #dad9d9;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style-type: none;
}

.text--pink {
    color: #a41f66;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.row {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

/* 

NAVIGATION BAR 

*/

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    font-weight: 700;
    text-decoration: none;
    transition: all 300ms ease;
}


.nav__link--anchor:hover {
    background-color: #6030b1;
    color: #dad9d9;
    padding: 8px 20px;
    border-radius: 50px;
}

.nav__link--anchor:active {
    background-color: #a41f66;
}

.nav__link--anchor-primary {
    color: #242424;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #a41f66;
    color: #dad9d9;
    padding: 8px 20px;
    border-radius: 50px;
}

.nav__link--anchor-primary:active {
    background-color: #6030b1;
}

.personal__logo:hover {
    background-color: #a41f66;
    color: #dad9d9;
    font-size: 38px;
    padding: 8px 20px;
    border-radius: 50px;
}

.personal__logo {
    font-family: 'Work Sans', sans-serif;
    color: #242424;
    font-size: 32px;
    margin: 0 12px;
    font-weight: 700;
    text-decoration: none;
    transition: all 300ms ease;
}

/*

ABOUT ME

*/

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me__picture {
    width: 120px;
    height: 145px;
    border-radius: 50px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    margin-bottom: 16px;
    /* Fixing Picture */
    transform: translatey(-20px) translateX(-2px) scale(.9);
}

.about-me__picture {
    width: 120px;
    height: 145px;
    border-radius: 50px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    margin-bottom: 16px;
    /* Fixing Picture */
    transform: translatey(-20px) translateX(-2px) scale(.9);
}

.about-me__info--title {
    margin: 12px 0;
}

.about-me__info--para {
    font-size: 20px;
    margin-bottom: 28px;
}